# 데이터 수집 및 처리
pandas
numpy
Pillow
gdown

# 딥러닝 CNN 모델링 및 시각화
matplotlib
torch
torchvision
scikit-learn

# AI API
google-generativeai
openai

# PPT 초안 만들기
python-pptx

# GitHub 게시 및 기타
python-dotenv

# 다른 요구사항의 종속성
protobuf
